<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        background-color: #222;
        display: flex;
        justify-content: center;
      }
      canvas {
        background-color: #000;
        transition: all 100ms ease-in-out;

        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
      }
    </style>

    <% externalCss.forEach(cssFile => { %>
      <link rel="stylesheet" href="<%= cssFile %>" />
    <% }); %>
  </head>
  <body>
    <canvas></canvas>

    <script src="main.js"></script>

    <% if (mapCoordinates) { %>
    <script>
      window.mapCoordinates = <%- mapCoordinates %>;
    </script>
    <% } %>

    <% externalJavascript.forEach(jsFile => { %>
      <script src="<%= jsFile %>"></script>
    <% }); %>
  </body>
</html>
